/* ==========================================================================
   Mint skin
   ========================================================================== */

/* Colors */
$background-color: #d4dedd !default;
$text-color: #21312e !default;
$muted-text-color: #21312e !default;
$primary-color: #3eaa99 !default;
$border-color: mix(#fff, #21312e, 75%) !default;
$footer-background-color: #3eaa99 !default;
$link-color: #3eaa99 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

/* Waves hero canvas colors */
.page__hero_canvas {
  --waves-background: #d4dedd;
  --waves-stroke: #21312e;
  border-bottom: 1px solid $border-color;
}

// .page__footer {
//   color: #fff !important; // override
// }

.page__footer {
  color: #21312e !important; // override
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
